<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MoviesDBConnectionString" connectionString="Data Source=DESKTOP-UREL1JG\SQLEXPRESS;Initial Catalog=MoviesDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
